<main>
    <h1>Tony Robbins...</h1>
    <hr>
    <p>
        Anthony J. Robbins (North Hollywood, California; 29 de febrero de 1960), más conocido como Tony Robbins, es
        escritor de libros de desarrollo personal, finanzas personales y orador motivacional estadounidense.
    </p>

    <h3>Vida temprana</h3>
    <hr>
    <p>
        Robbins nació como Anthony J. Mahavoric en North Hollywood, California, el 29 de febrero de 1960.​ Robbins es el
        mayor de tres hijos y sus padres se divorciaron cuando él tenía 7 años. Su madre se volvió a casar (más de una
        vez), incluido un matrimonio con Jim Robbins, un exjugador de béisbol semiprofesional.​
        <br><br>
        Durante la escuela secundaria, Robbins creció diez pulgadas, un crecimiento acelerado que luego se atribuyó a un
        tumor pituitario. Ha dicho que su vida hogareña era "caótica" y "abusiva". Cuando tenía diecisiete años, se fue
        de casa y nunca regresó.​ Robbins luego trabajó como conserje y no asistió a la universidad.
    </p>

    <h3>Carrera</h3>
    <hr>
    <p>
        Nacido como Anthony J. Mahavoric, en una familia de origen croata, llegó a ser bien conocido a través de sus
        infomerciales y libros de autoayuda, Poder sin límites. Robbins escribe sobre temas como la salud y la energía,
        los temores de la superación, la comunicación persuasiva, y sobre como mejorar las relaciones. Robbins comenzó
        su carrera en el aprendizaje de muchos oradores de motivación diferentes, y promueve seminarios de su mentor
        personal, Jim Rohn. Está profundamente influenciado por la programación neuro-lingüística y una variedad de
        coaching estratégico.
        <br><br>
        El trabajo de Robbins ha formado parte de los medios de comunicación más importantes, incluyendo medios tales
        como Time, Newsweek, Fortune, Forbes, Life, GQ, Vanity Fair, Business Week, Tycoon and Success magazines, la CBS
        Evening News, NBC News, Fox News, CNN y A&E, así como periódicos, programas de radio, y medios de comunicación
        de Internet en todo el mundo. Robbins ha sido mencionado o ha aparecido en 15 películas importantes,​ incluyendo
        un cameo en la exitosa película "Shallow Hal". en el año 2007, fue nombrado en la lista de la revista Forbes
        "Celebrity 100".
        <br><br>
        Sus programas han llegado a más de 4 millones de personas de 100 países alrededor del mundo.
        <br><br>
        Anthony Robbins se ubicó entre los "Top 50 Business Intellectuals in the World" por el Instituto de Accenture
        para el Cambio Estratégico. Robbins habló en Harvard Business School​ y fue clasificado por la escuela entre los
        “Top 200 Business Gurus” (Harvard Business School Press, 2003).
        <br><br>
        En julio de 2010, NBC debutó Tony Robbins: Life Coach, un reality show donde Robbins ayuda a los participantes
        del programa a enfrentar sus desafíos personales. Pero se canceló en marzo de 2012 después de emitir dos de las
        seis temporadas previstas, debido a una baja audiencia de 2,8 millones.
    </p>

    <h3>Libros</h3>
    <hr>
    <ul>
        <li>
            Robbins, Anthony (1983).
            <a href="https://archive.org/details/unlimitedpowerbl00robb" target="_blank" rel="noopener">
                Unlimited Power: The New Science of Personal Achievement</a>.
            New York: Simon & Schuster. pp. 448 pages. ISBN 0-684-84577-6. Consultado el 4 de enero de 2008.
            <br>
            <small>
                Traducido al español como Poder sin límites
            </small>
        </li>
        <li>
            Robbins, Anthony (1992).
            <a href="https://archive.org/details/awakengiantwithi00robb_0" target="_blank" rel="noopener">
                Awaken the Giant Within</a>.
            New York: Simon & Schuster. pp. 544 pages. ISBN 0-671-79154-0. Consultado el 20-09-2007.
            <br>
            <small>
                Traducido al español como Despertando al gigante interior
            </small>
        </li>
        <li>
            Robbins, Anthony (1994).
            <a href="https://archive.org/details/giantstepssmallc00robb/mode/2up" target="_blank" rel="noopener">
                Giant Steps</a>.
            New York: Fireside. pp. 416 pages. ISBN 0671891049. Consultado el 20
            de septiembre de 2007.
        </li>
        <li>
            Robbins, Anthony (1995).
            <a href="https://archive.org/details/notesfromfriendq00robb/mode/2up" target="_blank" rel="noopener">
                Notes from a Friend: A Quick and Simple Guide to Taking Control of Your Life</a>.
            New York: Fireside. pp. 112 pages. ISBN 068480056X. Consultado el 2 de septiembre de 1997.
            <br>
            <small>
                Traducido al español como Mensaje a un amigo: cómo hacerse cargo de la propia existencia
            </small>
        </li>
        <li>
            Robbins, Anthony (2014). Money Master the game. New York: simon & schuster. pp. 656 pages. ISBN
            978-1-4767-5780-3.
            <br>
            <small>
                Traducido al español como Dinero: domina el juego: Cómo alcanzar la libertad financiera en 7 pasos
            </small>
        </li>
        <li>
            Robbins, Anthony & Mallouk, Peter (2019). Unshakeable: Your Financial Freedom Playbook. New York: simon &
            schuster. pp. 256 pages. ISBN 978-1-5011-6458-3.
            <br>
            <small>
                Traducido al español como Inquebrantable | Imbatible
            </small>
        </li>
    </ul>
</main>